<section layout="row" ng-controller="UserCtrl" flex>

    <h1 align="center">User Application</h1>

    <form class="mdl-grid">

      <div class="mdl-cell mdl-cell--5-col">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" id="username" ng-model="user.username" />
          <label class="mdl-textfield__label" for="username">Username</label>
        </div>
      </div>

      <div class="mdl-cell mdl-cell--5-col">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" id="email" ng-model="user.email" />
          <label class="mdl-textfield__label" for="email">Email</label>
        </div>
      </div>

      <div class="mdl-cell mdl-cell--5-col">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="password" id="password" ng-model="user.password" />
          <label class="mdl-textfield__label" for="password">Password</label>
        </div>
      </div>

      <div class="mdl-cell mdl-cell--5-col">
        <button type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect" ng-click="addUser()">Add User</button>
      </div>

    </form>

    <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable">
      <tbody>
        <tr ng-repeat="user in users">
            <td class="mdl-data-table__cell--non-numeric" ng-click="removeUser(user)" >{{ user.id }}</td>
            <td class="mdl-data-table__cell--non-numeric" ng-click="removeUser(user)" >{{ user.auth.email}}</td>
        </tr>       
      </tbody>
    </table>

</section>

