<md-content flex layout-padding>
    <!--
    <md-button class="md-primary md-raised" ng-click="addWidget()">Add Widget </md-button>
    <md-button class="md-primary md-raised" ng-click="clear()">Clear</span></md-button>
    <div gridster="gridsterOptions">
        <ul>
           <li id="resizable" gridster-item="widget" ng-repeat="widget in dashboard.widgets">
                <div  ng-controller="CustomWidgetCtrl">
                    <h3>{{ widget.name }}</h3>
                    <md-button class="md-primary md-raised" ng-click="openSettings(widget)">Edit </md-button>
                    <md-button class="md-primary md-raised" ng-click="remove($index)">Delete</md-button>
                </div>
            </li>
        </ul>
    </div>
    -->
    <md-button class="md-primary md-raised" ng-click="addWidget2()"> New Widget </md-button>
    <md-button class="md-primary md-raised" ng-click="deleteAll()"> Clear </md-button>
    <md-button class="md-primary md-raised" ng-click="save()"> Save </md-button>
    <div class="gridster">
        <ul>
        </ul>
    </div>
    <textarea id="log"></textarea>

</md-content>