<md-dialog aria-label="Edition" ng>
    <form >
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Edition du widget</h2>
                <md-button ng-click="dismiss()"></md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style=" ">
            <md-content class="md-padding">
                <md-input-container flex>
                    <label>Name</label>
                    <input type ="string" name="name" ng-model="form.name">
                </md-input-container>
                <md-input-container flex>
                    <label>Width</label>
                    <input  type="number" min="1" name="sizeX" ng-model="form.sizeX">
                </md-input-container>
                <md-input-container flex>
                    <label>Height</label>
                    <input  type="number" min="1" name="sizeY" ng-model="form.sizeY">
                </md-input-container>
                <md-input-container flex>
                    <label>Column</label>
                    <input type="number" min="1" name="col" ng-model="form.col">
                </md-input-container>
                <md-input-container flex>
                    <label>Row</label>
                    <input type="number" mim="1" name="row" ng-model="form.row">
                </md-input-container>

            </md-content>
            <md-dialog-actions ng-controller="CustomWidgetCtrl"layout="row">
                <md-button ng-click="dismiss()" >Cancel</md-button>
                <md-button ng-click="submit()" >Save</md-button>
            </md-dialog-actions>
        </md-dialog-content>
    </form>
</md-dialog>
