<md-dialog aria-label="Edition">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Edition du widget</h2>
                <md-button class="md-icon-button" ng-click="dismiss()"></md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="max-width:800px;max-height:810px; ">
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="one">
                    <md-content class="md-padding">
                        <md-input-container flex>
                            <label>Name</label>
                            <input name="name" ng-model="form.name">
                        </md-input-container>
                        <md-input-container flex>
                            <label>Width</label>
                            <input name="sizeX" ng-model="form.sizeX">
                        </md-input-container>
                        <md-input-container flex>
                            <label>Height</label>
                            <input name="sizeY" ng-model="form.sizeY">
                        </md-input-container>
                        <md-input-container flex>
                            <label>Column</label>
                            <input name="col" ng-model="form.col">
                        </md-input-container>
                        <md-input-container flex>
                            <label>Row</label>
                            <input name="row" ng-model="form.row">
                        </md-input-container>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="remove()" >Delete</md-button>
            <md-button ng-click="dismiss()" >Cancel</md-button>
            <md-button ng-click="dismiss()" >Save</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
