<section ng-controller="OptionCtrl">

    <h3>{{formTitle}}</h3>

    <form>
        <md-input-container class="md-block">
            <label>Source</label>
            <md-select ng-model="option.source_id">
                <md-option ng-repeat="src in allSources" value="{{src.id}}">
                    {{src.name}}
                </md-option>
            </md-select>
        </md-input-container>

        <md-input-container class="md-block">
            <label>Nom</label>
            <input type="text" ng-model="option.name">
        </md-input-container>
        <br>

        <md-input-container class="md-block">
            <label>Description</label>
            <input ng-model="option.description">
        </md-input-container>
        <br>

        <md-input-container>
            <label>Type</label>
            <md-select ng-model="optionType.url">
                <md-option ng-repeat="opt in optionTypes" value="{{opt.url}}">
                    {{opt.name}}
                </md-option>
            </md-select>
        </md-input-container>

        <div ng-include src="optionType.url"></div>

        <md-button class="md-raised md-primary" ng-click="saveOption()">{{valid}}</md-button>
    </form>


</section>