<section id="login" ng-controller="AuthCtrl">

    <md-card id="loginBox" flex layout-padding>

        <md-form name="loginForm">

            <img src="/images/logo.png" alt="Nebulae">

            <md-input-container class="md-icon-float md-block">
                <label>Email</label>
                <md-icon><ng-md-icon icon="mail"></ng-md-icon></md-icon>

                <input type="email" name="email" ng-pattern="/^.+@.+\..+$/"
                       ng-model="user.email" type="text">

                <div ng-messages="loginForm.email.$error">
                    <div ng-message="ng-pattern">Email format required</div>
                </div>


            </md-input-container>

            <md-input-container class="md-icon-float md-block">
                <label>Password</label>
                <md-icon><ng-md-icon icon="vpn_key"></ng-md-icon></md-icon>
                <input ng-model="user.password" type="password">
            </md-input-container>

            <md-button type="submit" class="md-raised md-primary" ng-click="login()">Login</md-button>

            <div ng-messages="loginForm.rate.$error" multiple>
                <div ng-message="required">
                    You've got to charge something! You can't just <b>give away</b> a Missile Defense
                    System.
                </div>
            </div>



        </md-form>

        <md-progress-circular md-mode="indeterminate"></md-progress-circular>


    </md-card>

</section>

