<section layout="row" id="auth" ng-controller="ResetCtrl" flex>

    <md-card id="authBox" layout-padding>

        <form name="loginForm" ng-submit="resetPassword()">

            <img src="/images/logo.png" alt="Nebulae">

            <md-input-container class="md-block">
                <label>Enter your new password</label>
                <input required type="password" name="password" ng-model="user.newPassword"
                       minlength="5" maxlength="100" ng-focus="resetError()"/>
            </md-input-container>

            <md-input-container class="md-block">
                <label>Confirm your new password</label>
                <input required type="password" name="password" ng-model="user.newPasswordConfirmed"
                       minlength="5" maxlength="100" ng-focus="resetError()"/>
            </md-input-container>

            <md-button type="submit" class="md-raised md-primary">Reset password</md-button>


        </form>

    </md-card>

</section>

