<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nebulae</title>

    <!--STYLES-->
    <link rel="stylesheet" href="/bower_components/material-design-lite/material.min.css">
    <script src="/bower_components/material-design-lite/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/styles/index.css">

</head>
<body>
   <header>
       <div id="header" class="mdl-layout__header-row">
           <h1 class="mdl-layout-title">NEBULAE</h1>
           <div class="mdl-layout-spacer"></div>
           <nav class="mdl-navigation">
               <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Connexion</button>
           </nav>
       </div>
   </header>


    <main id="container">
        <section id="apercu">

            <div class="background">
                <video id="video" loop="loop" preload="auto" class="video-playing" autoplay>
                    <source type="video/mp4" src="/videos/test.mp4"/>
                    <source type="video/webm" src="/videos/test.webm"/>
                </video>
            </div>

            <div class="card mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title">
                    <h2 class="text mdl-card__title-text">Connect your interest</h2>
                </div>
                <div class="text mdl-card__supporting-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Mauris sagittis pellentesque lacus eleifend lacinia...
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
                       Inscription
                    </a>
                </div>
            </div>

        </section>



        <section id="presentation" class="mdl-grid">
            <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet bloc">
                <div class="mdl-cell mdl-cell--6-col container icon">

                </div>
                <div class="mdl-cell mdl-cell--6-col container content">
                    <h2>Lorem Ipsum</h2>
                    <p>Cras elementum in nibh sed ultrices. Etiam ornare diam in nunc aliquam facilisis. </p>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet bloc">
                <div class="mdl-cell mdl-cell--6-col container icon">

                </div>
                <div class="mdl-cell mdl-cell--6-col container content">
                    <h2>Dolor sit amet</h2>
                    <p>Cras elementum in nibh sed ultrices. Etiam ornare diam in nunc aliquam facilisis.</p>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet bloc">
                <div class="mdl-cell mdl-cell--6-col container icon">

                </div>
                <div class="mdl-cell mdl-cell--6-col container content">
                    <h2>Adipiscing elit.</h2>
                    <p>Cras elementum in nibh sed ultrices. Etiam ornare diam in nunc aliquam facilisis.</p>
                </div>
            </div>
        </section>

        <section id="multisupport" class="mdl-grid">

            <div class="mdl-cell mdl-cell--6-col bloc">

            </div>
            <div class="mdl-cell mdl-cell--6-col bloc">

            </div>

        </section>

        <section id="section-1">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--8-col mdl-cell--12-col-tablet bloc content">
                    <h3>Donec et elit iaculis nibh ullamcorper </h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt velit pretium leo sagittis fermentum.
                        Sed vitae urna ac felis placerat rutrum. Ut pharetra, tortor ut bibendum egestas.</p>
                    <p>Donec libero nibh, egestas et consectetur vel, sodales et mauris. Proin a imperdiet mauris, nec luctus mi.
                        Morbi placerat velit at elit gravida pulvinar. Donec vel urna vitae nisi pulvinar feugiat. </p>
                </div>
                <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet bloc">
                    <div class="icon">

                    </div>
                </div>
            </div>
        </section>
        <section id="section-2">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet bloc">
                    <div class="icon">

                    </div>
                </div>
                <div class="mdl-cell mdl-cell--8-col mdl-cell--12-col-tablet bloc content">
                    <h3>Donec et elit iaculis nibh ullamcorper </h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt velit pretium leo sagittis fermentum.
                        Sed vitae urna ac felis placerat rutrum. Ut pharetra, tortor ut bibendum egestas.</p>
                    <p>Donec libero nibh, egestas et consectetur vel, sodales et mauris. Proin a imperdiet mauris, nec luctus mi.
                        Morbi placerat velit at elit gravida pulvinar. Donec vel urna vitae nisi pulvinar feugiat. </p>
                </div>
            </div>
        </section>
        <section id="medias" class="mdl-grid">

            <div class="mdl-cell mdl-cell--4-col bloc">

            </div>
            <div class="mdl-cell mdl-cell--4-col bloc">

            </div>
            <div class="mdl-cell mdl-cell--4-col bloc">

            </div>

            <!-- etc -->

        </section>
        <section id="join-us">
            <h3>Join Us Today and Connect Your Interest !</h3>
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
                Inscription
            </a>
        </section>
        <section id="contact">
            <div class="mdl-grid">

            </div>
        </section>

    </main>


    <footer>
        <div id="liens">

        </div>
        <div id="copyright">

        </div>

    </footer>

</body>
</html>