<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nebulae</title>

    <link rel="stylesheet" href="/bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="/bower_components/angular-material-icons/angular-material-icons.min.js">

</head>
<body>

    <header>


    </header>
    <main id="container">
        <section id="apercu">
            <div class="apercu-background">
            </div>

            <div class="apercu-content">
            </div>

        </section>



        <section id="presentation">

        </section>

        <!-- etc -->
    </main>


<footer>

</footer>

</body>
</html>