<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nebulae</title>

    <!--STYLES-->
    <link rel="stylesheet" href="/bower_components/material-design-lite/material.min.css">
    <script src="/bower_components/material-design-lite/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/styles/index.css">

</head>
<body>
   <header>
       <div id="header" class="mdl-layout__header-row">
           <span class="mdl-layout-title">NEBULAE</span>
           <div class="mdl-layout-spacer"></div>
           <nav class="mdl-navigation">
               <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Connexion</button>
           </nav>
       </div>
   </header>


    <main id="container">
        <section id="apercu">

            <div class="background">
                <video id="video" loop="loop" preload="auto" class="video-playing" autoplay>
                    <source type="video/mp4" src="/videos/test.mp4"/>
                    <source type="video/webm" src="/videos/test.webm"/>
                </video>
            </div>

            <div class="card mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title">
                    <h2 class="text mdl-card__title-text">Connect your interest</h2>
                </div>
                <div class="text mdl-card__supporting-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Mauris sagittis pellentesque lacus eleifend lacinia...
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
                       Inscription
                    </a>
                </div>
            </div>

        </section>



        <section id="presentation">

        </section>

        <!-- etc -->
    </main>


    <footer>

    </footer>

</body>
</html>