<!DOCTYPE html>
<html ng-app="NebulaeApp">
<head>
	<title>Nebulae</title>

	<!-- Viewport mobile tag for sensible mobile support -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">  

	<!--STYLES-->
	<link rel="stylesheet" href="/styles/index.css">
	<link rel="stylesheet" href="/styles/main.css">
	<link rel="stylesheet" href="/bower_components/angular-material/angular-material.css">
	<link rel="stylesheet" href="/bower_components/angular-gridster/dist/angular-gridster.min.css">
	<!--STYLES END-->

</head>
<body>

	<%- partial('partial/header.ejs') %>


	<main class="page page-{{templateName}}" ng-view>

	</main>

	<!--SCRIPTS-->
	<script src="/js/dependencies/sails.io.js"></script>
	<script src="/bower_components/angular/angular.min.js"></script>
	<script src="/bower_components/jquery/dist/jquery.js"></script>
	<script src="/bower_components/angular-route/angular-route.js"></script>
	<script src="/bower_components/angular-messages/angular-messages.js"></script>
	<script src="/bower_components/angular-aria/angular-aria.js"></script>
	<script src="/bower_components/angular-animate/angular-animate.js"></script>
	<script src="/bower_components/angular-material/angular-material.js"></script>
	<script src="/bower_components/angular-material-icons/angular-material-icons.min.js"></script>
	<script src="/bower_components/angular-animate/angular-animate.min.js"></script>
	<script src="/bower_components/lodash/lodash.min.js"></script>
	<script src="/bower_components/restangular/dist/restangular.min.js"></script>
	<script src="/bower_components/javascript-detect-element-resize/jquery.resize.js"></script>
	<script src="/bower_components/angular-gridster/dist/angular-gridster.min.js"></script>
	<script src="/js/app.js"></script>
	<script src="/js/controllers/admin/BrickCtrl.js"></script>
	<script src="/js/controllers/auth/LoginCtrl.js"></script>
	<script src="/js/controllers/auth/SignupCtrl.js"></script>
	<script src="/js/controllers/dashboard/DashboardCtrl.js"></script>
	<script src="/js/controllers/user/UserCtrl.js"></script>
	<script src="/js/services/APISrv.js"></script>
	<script src="/js/services/AuthSrv.js"></script>
	<script src="/js/services/CategorySrv.js"></script>
	<script src="/js/services/DashboardSrv.js"></script>
	<script src="/js/services/SourceFunctionSrv.js"></script>
	<script src="/js/services/SourceSrv.js"></script>
	<script src="/js/services/UserSrv.js"></script>
	<!--SCRIPTS END-->
</body>
</html>
