<div id="functionContainer" layout="row">

    <div flex="50">
        <md-input-container class="md-block">
            <label>Nom</label>
            <input type="text" ng-model="currentFunction.name">
        </md-input-container>
        <md-input-container class="md-block">
            <label>Description</label>
            <input ng-model="currentFunction.description">
        </md-input-container>
        <md-input-container>
            <label>Type</label>
            <md-select ng-model="optionType.url">
                <md-option ng-repeat="opt in optionTypes" value="{{opt.url}}">
                    {{opt.name}}
                </md-option>
            </md-select>
           </md-input-container>
    </div>
    <div flex="50">
        <div ng-include src="optionType.url"></div>
    </div>
<!--

        <ng-include src="optionType.url" ></ng-include>
        <div ng-include src="optionType.url"></div>
        ng-click="saveOption()"
        -->

        <md-button class="md-raised md-primary" >{{valid}}</md-button>
</div>