<div id="functionContainer" ng-controller="FunctionCtrl">

<div layout="row">
    <md-input-container class="md-block" flex="70">
        <label>Nom</label>
        <input type="text" ng-model="currentFunction.name">
    </md-input-container>
    <md-input-container>
        <label>Type</label>
        <md-select ng-model="currentFunction.type">
            <md-option ng-repeat="opt in optionTypes" value="{{opt.name}}">
                {{opt.name}}
            </md-option>
        </md-select>
    </md-input-container>
</div>

    <md-input-container class="md-block">
        <label>Description</label>
        <input ng-model="currentFunction.description">
    </md-input-container>

    <md-input-container>
        <label>Template</label>
        <md-select ng-model="patternID">
            <md-option ng-repeat="layout in allTemplates" value="{{layout.id}}">
                {{layout.name}}
            </md-option>
        </md-select>
    </md-input-container>

    <div ng-include src="optionType.url"></div>

    <div>
        <md-button ng-click="" class="md-raised md-warn">Supprimer</md-button>
        <md-button class="md-raised md-primary" ng-click="saveFunction()">{{action}}</md-button>
    </div>

</div>