<md-content>
    <md-button class="md-raised md-primary" ng-click="addRssParameter()">Ajouter une page</md-button>
    <md-button ng-click="deleteRssPage()" class="md-raised md-warn" aria-label="Insert Drive">Supprimer une page</md-button>
    <md-input-container class="md-block">
        <label>Url Principale</label>
        <input type="text" ng-model="currentFunction.parameters.main">
    </md-input-container>
    <br>

    <div ng-repeat="p in currentFunction.parameters.pages track by p.page">
        <md-input-container class="md-block">
            <label>Page {{p.page}}</label>
            <input type="text" ng-model="p.url">
        </md-input-container>
    </div>

</md-content>
