md-content[ng-controller="BrickCtrl"] {

  #categories,
  #partSource{
    height: 100%;
  }
  #categories{

    ul[name="listCategories"],
    ul[name="listSources"]{
      list-style: none;
      padding: 0 ;
      text-align: center;
    }

  }

  #partSource{

    div.layout-row > div{
      border: 1px solid black;
    }

    #srcContainer{

      #enableSwitchSrc{
        *{
          display: inline-block;
        }
      }
    }

    #functionsListContainer{
      h5{
        text-align: center;
      }
    }

  }


}
