md-content[ng-controller="BrickCtrl"] {

  #categories,
  #partSource{
    height: 100%;
    border: 1px solid black;
  }
  #categories{

    .md-list-item-text{
      text-align: center;
      margin: 0;
    }
  }

  #partSource{
    border:none;
    div[layout="row"]{
      border: 1px solid black;
    }

    #srcContainer{

      #enableSwitchSrc{
        *{
          display: inline-block;
        }
      }

    }

  }


}
