main.page-adminDashboard {

 section {  
   margin: 5%;
   height: auto;
   width: 90%;
   background: $grey200;
   display: block;
   position: relative;
  }

  $asideWitdh: 72px;

  aside {
    z-index: 500;
    width: $asideWitdh;
    position: absolute;
    background: $grey200;
    a {
      padding: 10px 20px;
      width: 100%;
      display: block;
      svg { fill: $grey500; }
      }
    }
  a.active svg { fill: $grey800; }

  md-content {
    z-index: 600;
    width: calc(100% - #{$asideWitdh});
    overflow: hidden;
    padding: 30px;
    margin-left: $asideWitdh;
    background: white;
  }

}