main.page-adminDashboard {

  section {
    margin: 5%;
    height: auto;
    width: 90%;
    background: $grey200;
    display: block;
    position: relative;
  }
  $asideWitdh: 72px;
  aside {
    width: $asideWitdh;
    position: absolute;
    background: $grey200;
    a {
      padding: 10px 20px;
      width: 100%;
      display: block;
      svg {
        fill: $grey500;
      }
    }
  }
  a.active svg {
    fill: $grey800;
  }

  md-content[ng-controller="UserCtrl"],
  md-content[ng-controller="BrickCtrl"] {
    width: calc(100% - #{$asideWitdh});
    overflow: hidden;
    padding: 20px 30px 30px;
    margin-left: $asideWitdh;
    background: white;
  }


  .ng-enter    { animation: fadeFromRight_IN 0.4s both ease-out 0.4s; z-index: 50; }
  .ng-leave    { animation: fadeToLeft_OUT 0.4s both ease; z-index: 80; }
}

