// TEMPLATES : LOGIN.HTML

main.page-login, main.page-signup {

  #authBox {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    transition: all ease 0.5s;
    width: 400px;
    height: auto;
    padding: 0;
    form {
      padding: 2em;
      img {
        width: 100%;
        height: auto;
        margin-bottom: 1em;
      }
      button {
        margin: 30px auto 0;
        width: 100%;
      }
      md-input-container {
        padding-bottom: 1em;
        transition: all ease 0.5s;
        &.ng-hide {
          opacity: 0;
          margin-left: -20px;
        }
        &.ng-show {
          margin-left: 0;
        }
      }
    }
    md-progress-circular {
      position: absolute;
      display: none;
    }
  }
}

