/* ANIMATIONS
============================================================================= */

@keyframes bottomToMiddle_IN {
  from  {  opacity: 0; transform: translateY(-50px) scale(0.9); }
  to    {  opacity: 1; transform: translateY(0) scale(1);  }
}

@keyframes MiddleToFront_OUT {
  from  {  opacity: 1; transform: translateY(0) scale(1); }
  to    {  opacity: 0; transform: translateY(50px) scale(1.1);  }
}

@keyframes fadeFromRight_IN {
  from { opacity: 0; transform: translateX(-20px);}
  to {   opacity: 1; transform: translateX(0px);}
}

@keyframes fadeToLeft_OUT {
  from { opacity: 1; transform: translateX(0px);}
  to {   opacity: 0; transform: translateX(-20px);}
}


// --------------------------------

.ng-enter    { animation: fadeFromRight_IN 0.4s both ease-out; z-index: 50; }
.ng-leave    { animation: fadeToLeft_OUT 1s both ease; z-index: 80; }

.page {
  position:absolute;
  bottom:0;
  top: $md-toolbar-tools_height;
  width:100%;
}
