/* ANIMATIONS
============================================================================= */

@keyframes bottomToFront {
  from  {  opacity: 0; transform: translateY(-50px) scale(0.9); }
  to    {  opacity: 1; transform: translateY(0) scale(1);  }
}

@keyframes frontToSky {
  from  {  opacity: 1; transform: translateY(0) scale(1); }
  to    {  opacity: 0; transform: translateY(50px) scale(1.1);  }
}

// --------------------------------

.ng-enter    { animation: bottomToFront 0.4s both ease-out; z-index: 8888; }
.ng-leave    { animation: frontToSky 1s both ease; z-index: 9999; }

.page {
  position:absolute;
  bottom:0;
  top: $md-toolbar-tools_height;
  width:100%;
}
