/* ANIMATIONS
============================================================================= */

/* leaving animations ----------------------------------------- */

/* slide in from the bottom */
@keyframes slideOutLeft {
  to      { transform: translateX(-100%); }
}

@keyframes scaleUp {
  from    { opacity: 0.3; -webkit-transform: scale(0.8); }
}

/* entering animations --------------------------------------- */
/* scale up */
@keyframes scaleUp {
  from    { opacity: 0.3; -webkit-transform: scale(0.8); }
}

/* slide in from the right */
@keyframes slideInRight {
  from    { transform:translateX(100%); }
  to      { transform: translateX(0); }
}

/* slide in from the bottom */
@keyframes slideInUp {
  from    { transform:translateY(100%); }
  to      { transform: translateY(0); }
}

.ng-enter    { animation: slideInRight 0.5s both ease-in; z-index: 8888; }
.ng-leave    { animation: slideOutLeft 0.5s both ease-in; z-index: 9999; }

.page        {
  position:absolute;
  bottom:0;
  top: $md-toolbar-tools_height;
  width:100%;
}
