// GLOBAL

*, *:before, *:after {
  box-sizing: border-box;
}

body, html {
  min-height: 100%;
  background: $light-grey !important;
}

body:before {
  content: " ";
  position: absolute;
  background: url('http://imgsrc.hubblesite.org/hu/db/images/hs-2008-34-a-xlarge_web.jpg') !important;
  background-size: cover !important;
  height: 50%;
  width: 100%;
  display: block;
}

.page {
  position:absolute;
  top: 0;
  height: 100%;
  width:100%;

  md-toolbar {
    position: absolute;
    top: 0;
    left: 0;
  }

}


.md-toolbar-tools, md-toolbar {
  height: $md-toolbar-tools_height !important ;
  line-height: $md-toolbar-tools_height;
  min-height: $md-toolbar-tools_height !important ;
  a{
    font-size:0.8em;
    padding: 0 13px;
  }
}

