// GLOBAL

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body, html {
  min-height: 100%;
}

main {
  min-height: calc(100% - #{$md-toolbar-tools_height});
}


.md-toolbar-tools, md-toolbar {
  height: $md-toolbar-tools_height !important ;
  line-height: $md-toolbar-tools_height;
  min-height: $md-toolbar-tools_height !important ;
  a{
    font-size:0.8em;
    padding: 0 15px;
  }
}

