// GLOBAL

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body, html {
  min-height: 100%;
}

main {
  min-height: calc(100% - #{$md-toolbar-tools_height});
}



