.md-datepicker-calendar-pane {
  z-index: 9999 !important;
  border: 0 !important;
  background: white !important;
}
.md-datepicker-input-container {
  border: 0 !important;
}
md-toast {
  position: fixed !important;
}