<md-toolbar id="nav" class="md-whiteframe-5dp">
    <div class="md-toolbar-tools">
        <h2 class="md-flex">Nebulae</h2>
        <span flex></span>

        <a ng-if="!isAuthenticated" href="#/login">Login</a>
        <a ng-if="!isAuthenticated" href="#/signup">Signup</a>
        <a ng-if="isAuthenticated" href="#/admin">Admin</a>
        <a ng-if="isAuthenticated" href="#/dashboard">Dashboard</a>

        <span>Bonjour </span>

    </div>
</md-toolbar>