section#page404 {
    background: white;
    text-align: center;
    padding: 1em;
    width: 600px;
    margin: 2em auto 0;
    h1 {
      font-weight: 200;
      font-size: 2em;

    }
    img {
      max-width: 90%;
      height: auto;
      width: 350px;
      border-radius: 50%;
      display: inline-block;
      margin-bottom: 2em;
    }
}