// TEMPLATES : LOGIN.HTML

main#auth {
  background: url('http://imgsrc.hubblesite.org/hu/db/images/hs-2009-25-l-xlarge_web.jpg');
  background-size: cover;
  padding-top: 5em;

  #authBox {
    transition: all ease 0.5s;
    margin: 0 auto 0;
    @extend .md-whiteframe-10dp;
    width: 400px;
    height: auto;
    padding: 0;
    form {
      padding: 2em;
      img {
        width: 100%;
        height: auto;
        margin-bottom: 1em;
      }
      button {
        margin: 30px auto 0;
        width: 100%;
      }
      md-input-container {
        padding-bottom: 1em;
        transition: all ease 0.5s;
        &.ng-hide {
          opacity: 0;
          margin-left: -20px;
        }
        &.ng-show {
          margin-left: 0;
        }
      }
    }
    md-progress-circular {
      position: absolute;
      display: none;
    }
  }
}

