<section ng-controller="AuthCtrl">

    <h1 align="center">Login</h1>

    <form class="mdl-grid">


        <md-input-container class="md-icon-float md-block">
            <!-- Use floating label instead of placeholder -->
            <label>Email</label>
            <ng-md-icon icon="mail" class="name"></ng-md-icon>
            <input ng-model="user.email" type="text">
        </md-input-container>

        <md-input-container class="md-icon-float md-block">
            <!-- Use floating label instead of placeholder -->
            <label>Email</label>
            <ng-md-icon icon="vpn_key" class="password"></ng-md-icon>
            <input ng-model="user.password" type="password">
        </md-input-container>

        <md-button type="submit" class="md-raised md-primary" ng-click="login()">Login</md-button>


    </form>

</section>

