<md-content layout="row" ng-controller="BrickCtrl" ng-if="selectedTab == 'brick'">

    <div id="categories" flex="20">

        <md-list-item class="md-2-line" ng-repeat="category in categories">
            <div ng-click="changeCategory(category.id)" class="md-list-item-text">
                <h4>{{category.name}}</h4>
            </div>
            <div ng-if="currentCategory==category.name" class="animate-if">
                <md-list-item class="md-2-line" ng-repeat="src in currentCatSrc">
                    <div ng-click="changeSource(src.id)" class="md-list-item-text">
                        <h5>{{src.name}}</h5>
                    </div>
                </md-list-item>
            </div>
        </md-list-item>

    </div>

    <div id="partSource" flex="80">

        <div layout="column">

            <div flex>
                <div layout="row">
                    <div flex="70">
                        <ng-include src="'/templates/admin/source.html'" ></ng-include>
                    </div>
                    <div flex="30">Fonctions de la source</div>
                </div>
            </div>
            <div flex>
                <div layout="row">
                    <div flex="60">Détails Fonction</div>
                    <div flex>Tester</div>
                </div>
            </div>

        </div>

    </div>

</md-content>
