<section class="md-whiteframe-5dp">

    <md-toolbar>
        <div class="md-toolbar-tools">
            <h1 align="center">Panel Control</h1>
        </div>
    </md-toolbar>


    <aside ng-init="selectedTab = 'users'">
        <a href=""
           ng-class="{'active':selectedTab === 'users'}"
           ng-click="selectedTab = 'users'">
            <ng-md-icon icon="people_outline" size="34"></ng-md-icon>
        </a>

        <a href=""
           ng-class="{'active':selectedTab === 'extension'}"
           ng-click="selectedTab = 'extension'">
            <ng-md-icon icon="extension" size="34"></ng-md-icon>
        </a>

    </aside>


    <md-content ng-controller="UserCtrl" layout="row" ng-if="selectedTab == 'users'">


        <md-list flex>
            <h3>Users</h3>
            <md-list-item ng-repeat="user in users">
                <img ng-src="http://lorempixel.com/100/100/cats/{{user.id}}" class="md-avatar" />
                <p ng-init="delete.user.id = false">{{ user.auth.email }}</p>

                <span ng-if="delete.user.id == true">
                    <ng-md-icon icon="check" size="20" ng-click="delete.user.id = false"></ng-md-icon>
                    <ng-md-icon icon="cancel" size="20" ng-click="delete.user.id = false"></ng-md-icon>
                </span>

                <ng-md-icon icon="delete" ng-if="delete.user.id == false"
                            size="20" ng-click="delete.user.id = true"></ng-md-icon>
                <ng-md-icon icon="mode_edit" size="20"></ng-md-icon>
            </md-list-item>
        </md-list>

        <article flex>
            Ajout
        </article>



    </md-content>


    <md-content ng-controller="SourcesCtrl" ng-if="selectedTab == 'extension'">

        In vel dignissim leo. Nullam id cursus lorem. Praesent euismod tellus a mauris tincidunt, ut volutpat erat interdum. Cras ex est, aliquet eu nunc ac, tempus tincidunt justo. Phasellus vel molestie nisi. Aenean nec odio est. Nulla lobortis quam et tincidunt ultrices. Integer lacinia justo at mauris feugiat, ut hendrerit libero rutrum. Vestibulum metus massa, ultrices ac odio et, suscipit pellentesque diam. Nam in lacus ac orci facilisis mattis. Curabitur sit amet enim tristique, pharetra magna non, cursus arcu. Aliquam ac nisi risus. Donec lacus dolor, varius et sem id, cursus ultrices risus. Nullam urna lorem, luctus et mi sed, feugiat sodales ex. In id facilisis tortor.



    </md-content>


</section>


