<md-dialog aria-label="Choose a source" ng-controller="ChoosingSrcCtrl"  ng-cloak>
<!-- -->
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Choose a source</h2>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="md-dialog-content" layout="row">

            <div id="categoriesList" flex="20">
                <md-list-item class="md-2-line" ng-click="refreshSources(0)">
                    <span>All categories</span>
                </md-list-item>
                <md-list-item class="md-2-line" ng-repeat="category in allCategories" ng-click="refreshSources(category.id)">
                    {{category.name}}
                </md-list-item>
            </div>

            <div ng-show="!sourceChoose" id="sourcesList" flex="80">
                <md-list-item class="md-2-line" ng-repeat="source in sourcesByCategories" ng-click="refreshPatterns(source.id)">
                    <span>{{source.name}}</span>
                </md-list-item>
            </div>
            <div ng-show="sourceChoose" id="functionsList" flex="80">
                <md-toolbar md-scroll-shrink>
                   <!-- <ng-md-icon icon="keyboard return" size="34"></ng-md-icon> -->
                    <div class="md-toolbar-tools">{{sourceName}}</div>
                </md-toolbar>
        <!--        <md-list-item class="md-2-line" ng-repeat="function in functionsList" ng-click="openFunction(function.id)"> -->
                <md-list-item class="md-2-line" ng-repeat="pattern in patternsList" ng-click="openFunction(pattern.function,pattern.id)">
                    <span>{{pattern.name}}</span>
                </md-list-item>

                <md-sidenav id="sidenav" class="md-sidenav-right md-whiteframe-z2" md-component-id="right"  md-is-open="isSidenavOpen">
                    <md-content>
                        <h2>{{theFunction.name}}</h2>
                        <span>{{theFunction.description}}</span>
                        <div ng-if="theFunction.parameters!=={}">
                            <form ng-submit="addWidget()">
                                <md-input-container class="md-block">
                                    <label>Titre</label>
                                    <input type="text" ng-model="widget.title">
                                </md-input-container>
                                <div ng-repeat="data in theFunction.parameters.datas">
                                    <md-input-container class="md-block">
                                        <label>{{data.label}}</label>
                                        <input type="{{data.type}}" ng-model="preferences[data.name]" ng-required="data.required">
                                    </md-input-container>
                                </div>
                                <md-button class="md-accent md-raised" type="submit">Add widget</md-button>
                            </form>
                        </div>
                    </md-content>
                </md-sidenav>

            </div>

        </div>
    </md-dialog-content>

</md-dialog>