
<section layout="row" ng-controller="DashboardCtrl">

    <h4>{{dashboard.name}}</h4>

    <div gridster="gridsterOpts">

        <md-card gridster-item="widget" ng-repeat="widget in dashboard.widgets">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{widget.title}}</span>
                    <span class="md-subhead">Yolo</span>
                </md-card-title-text>
            </md-card-title>
        </md-card>

    </div>

</section>