<md-toolbar class="md-whiteframe-5dp">
    <div class="md-toolbar-tools">
        <h2 class="md-flex">Nebulae</h2>
        <span flex></span>

        <a href="#/login">Login</a>
        <a href="#/signup">Signup</a>
        <a href="#/admin">Admin</a>
        <a href="#/dashboard">Dashboard</a>

    </div>
</md-toolbar>

<section layout="row" ng-controller="DashboardCtrl">

    <div gridster="gridsterOpts">

        <md-card gridster-item="widget" ng-repeat="widget in widgets">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{widget.title}}</span>
                    <span class="md-subhead">Yolo</span>
                </md-card-title-text>
            </md-card-title>
        </md-card>

    </div>

</section>