<md-content layout="row" ng-controller="BrickCtrl" ng-if="selectedTab == 'brick'">

    <div id="categories" ng-controller="CategoriesCtrl" flex="20">

        <div class="subheader_container">
            <md-subheader class="md-primary">Categories</md-subheader>
            <md-button ng-click="inputCat=(inputCat)? false : true ;" class="little_btn bg_blue md-raised md-primary">+</md-button>
        </div>

        <div layout="row" ng-if="inputCat">
            <md-input-container flex="95" class="md-block">
                <label>New category</label>
                <input type="text" ng-model="newCat">
            </md-input-container>
            <div flex>
                <md-button ng-click="addCategory()" class="little_btn bg_green md-raised">
                    <ng-md-icon icon="done" size="20"></ng-md-icon>
                </md-button>
            </div>
        </div>

        <md-list-item class="md-2-line" ng-repeat="category in categories" ng-click="changeCategory(category);">
            <div class="md-list-item-text">
                <span>{{category.name}}</span>
            </div>
        </md-list-item>
    </div>

    <div id="partSource" layout="column" flex="60">

        <div ng-show="currentPart=='sources'">
            <ng-include src="'/templates/admin/brick/sources.html'" ></ng-include>
        </div>

        <div flex ng-show="currentPart=='source'">
            <ng-include src="'/templates/admin/brick/source.html'" ></ng-include>
        </div>

        <div flex ng-show="currentPart=='functions'">
            <ng-include src="'/templates/admin/brick/function/functionForm.html'" ></ng-include>
        </div>

    </div>

    <div id="functionsListContainer" ng-controller="FunctionsCtrl" flex="20">
        <ng-include src="'/templates/admin/brick/functionsList.html'" ></ng-include>
    </div>

</md-content>
