<md-content layout="row" ng-controller="BrickCtrl" ng-if="selectedTab == 'brick'">

    <div id="categories" flex="20">

        <ul name="listCategories">
            <li ng-repeat="category in categories">
                <div ng-click="changeCategory(category.id)">
                    <h4>{{category.name}}</h4>
                </div>
                <ul name="listSources" ng-if="currentCategory==category.name" ng-animate="'animate'">
                    <li ng-click="changeSource(src.id)" ng-repeat="src in currentCatSrc">
                        <h5>{{src.name}}</h5>
                    </li>
                </ul>
            </li>
        </ul>

    </div>

    <div id="partSource" flex="80">

        <div layout="column">

            <div flex>
                <div layout="row">
                    <div flex="70" ng-if="currentSource!={}">
                        <ng-include src="'/templates/admin/brick/source.html'" ></ng-include>
                    </div>
                    <div flex>
                        <ng-include src="'/templates/admin/brick/functionsList.html'" ></ng-include>
                    </div>
                </div>
            </div>
            <!-- ng-hide="currentSource==''" -->
            <div flex >
                <div layout="row">
                    <div flex="60">
                        <ng-include src="'/templates/admin/brick/function/form.html'" ></ng-include>
                    </div>
                    <div flex>
                        <md-button class="md-raised md-primary">Tester</md-button>
                    </div>
                </div>
            </div>

        </div>

    </div>

</md-content>
