<!-- <h5></h5> -->
<div class="subheader_container">
    <md-subheader class="md-primary">Fonctionalités</md-subheader>
    <md-button ng-click="addFunction()" class="little_btn bg_blue md-raised md-primary">
        <ng-md-icon icon="add" size="15"></ng-md-icon>
    </md-button>
</div>
<!--  -->
<md-list-item class="md-2-line" ng-repeat="f in currentFunctions" ng-click="changeFunction(f.id)"
              ng-class="{listshadow: hover}"
              ng-mouseenter="hover = true"
              ng-mouseleave="hover = false">
    <div class="md-list-item-text">
        <span>{{f.name}}</span>
    </div>
</md-list-item>